name: Release

on:
  push:
    branches:
      - master
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"
  pull_request:
    branches:
      - master

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-24.04
    env:
      CGO_ENABLED: 0
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: ./go.mod
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SNAPSHOT: ${{ (github.event_name != 'push' || !startsWith(github.ref, 'refs/tags/')) && '--snapshot' || '' }}
        run: |
          go tool goreleaser release $SNAPSHOT
